<div class="container-fluid">
  <div class="container1">
    <div class="row1">
      <div class="col">
        <span class="col-12">
          <img src="assets/images/tv-logo-letter-initial-logo-designs-template-free-vector.jpg" class="imagen">
          <h1 class="title">TV Series</h1>
        </span>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 25px;">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Channel</th>
            <th>Seasons</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let serie of series" (click)="selectSerie(serie)">
            <td class="id">{{serie.id}}</td>
            <td class="name">{{serie.name}}</td>
            <td class="channel">{{serie.channel}}</td>
            <td class="seasons">{{serie.seasons}}</td>
          </tr>
        </tbody>
      </table>
      <p class="average">Seasons average: {{averageSeasons}}</p>
    </div>
    <div class="col-md-6" *ngIf="selectedSerie">
      <app-serie-detail [serie]="selectedSerie"></app-serie-detail>
    </div>
  </div>
</div>

